nav {
    display: flex;
    justify-content: flex-end;
    height: 6rem;
    width: 100%;
    background-color: #fff;
}

#logo {
    display: flex;
    align-self: center;
    margin-left: 2vw;
}

@keyframes rotate {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}

#logo:hover {
    animation: rotate 1s ease-in-out;
}

#logo:hover + #title > h1 {
    color: darkred;
}

#triangle {
    fill: rgb(255, 0, 0);
    stroke: rgb(212, 212, 212);
    stroke-width: 2px;
}

#title {
    display: flex;
    align-items: center;
    margin-left: 1vw;
}

#title > h1 {
    color: rgb(255, 0, 0);
    font-size: 3rem;
    font-family: "Oswald", monospace;
}

#nav-ul {
    display: flex;
    flex-direction: row;
    list-style-type: none;
    align-items: center;
    margin-left: auto;
    text-indent: 2vw;
}

.nav-icon {
    display: flex;
    align-self: center;
    width: 40px;
    height: 30px;
    margin-right: 2vw;
}

.nav-icon:hover > path {
    fill: darkred;
}