#canvas-container {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 5vh;
}

#canvas {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 500px;
    width: 700px;
    border: #acacac 0.5rem solid;
    border-radius: 16px;
    background-color: #FFF;
}

#canvas-svg {
    display: flex;
    width: 100%;
    height: 100%;
}

.line {
    stroke-width: 10px;
}

.vertex {
    cursor: move;
    fill: #acacac;
    stroke: #000;
}

#A {
    stroke: red;
}

#B {
    stroke: green;
}

#C {
    stroke: blue;
}

@media only screen and (min-width: 1px) and (max-width: 600px) {
    #canvas-container {
        margin-top: 2vh;
        flex-direction: column;
        flex-flow: column-reverse;
    }
    #canvas {
        height: 400px;
        width: 95vw;
    }
}

@media only screen and (min-height: 0px) and (max-height: 600px) {
    #canvas-container {
        display: flex;
        align-items: flex-start;
        justify-content: center;
        margin-top: 5vh;
    }
    #canvas {
        height: 80vh;
        width: 500px;
    }
}